In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\chhij\Downloads\placement.csv")

In [4]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [5]:
!pip install requests

Requirement already satisfied: requests in c:\users\chhij\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\chhij\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chhij\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chhij\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chhij\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2025.7.14)

[notice] A new release of pip is available: 24.0 -> 26.0.1
[notice] To update, run: C:\Users\chhij\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import requests
import pandas as pd
from io import StringIO

url = "https://raw.githubusercontent.com/plotly/datasets/refs/heads/master/data.csv"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

response = requests.get(url,headers=headers)

csv_data = StringIO(response.text)

pd.read_csv(csv_data)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

-  # Sep Parameter

# üìå TSV File (Tab-Separated Values)

## üîπ Definition
TSV (Tab-Separated Values) is a simple text file format used to store data in a table structure, 
where each column is separated by a TAB character.

## üîπ File Extension
.tsv

## üîπ Structure
- Each row represents one record.
- Columns are separated using a TAB space (not comma).
- Data is stored in plain text format.

## üîπ Example

Name	Age	Course	Marks
Piyush	20	B.Tech	85
Rahul	21	B.Sc	78
Anita	19	BCA	92

## üîπ Advantages
- Easy to read and edit.
- Works well with Excel, Google Sheets, and Pandas.
- Useful when data contains commas (because it avoids comma conflicts).

## üîπ Difference Between CSV and TSV

| Feature | CSV | TSV |
|----------|------|------|
| Separator | Comma (,) | Tab |
| File Extension | .csv | .tsv |
| Best Used When | Simple data | Data contains commas |

## üîπ Use in Machine Learning
TSV files are commonly used to store datasets 
that can be loaded into Python using libraries like Pandas.

# üìò Working with CSV Files in Machine Learning (Pandas Guide)

## üéØ Why Data is Important in Machine Learning

- Data is the backbone of Machine Learning.
- Even a powerful algorithm performs poorly with bad data.
- A simple algorithm can perform well with high-quality data.
- 90% of ML problems are related to data handling.

---

# üìÇ Data Sources in Machine Learning

We generally collect data from:

1. CSV Files
2. JSON Files
3. APIs (Server Data)
4. Web Scraping
5. Databases (SQL)
6. Data Warehouses
7. Google Cloud / Cloud Storage

In this video series, focus is on:
- CSV
- JSON
- API Data Fetching
- Web Scraping

---

# üìÑ CSV File Format

### What is CSV?

CSV = Comma Separated Values

- Each row is in a new line.
- Values are separated by commas.
- Very common format in ML and Data Science.

Example:

```
Name,Age,City
John,25,Delhi
Alice,30,Mumbai
```

---

# üìå Reading CSV File in Pandas

```python
import pandas as pd

df = pd.read_csv("file_name.csv")
```

You can load:
- Local file
- URL file

---

# üåê Reading CSV from URL

```python
import requests
from io import StringIO
import pandas as pd

url = "your_csv_url"
response = requests.get(url)
data = StringIO(response.text)

df = pd.read_csv(data)
```

---

# ‚öô Important Parameters of read_csv()

---

## 1Ô∏è‚É£ sep Parameter

Used when separator is NOT comma.

Example: Tab Separated File (TSV)

```python
df = pd.read_csv("file.tsv", sep="\t")
```

---

## 2Ô∏è‚É£ header Parameter

If first row is not column name:

```python
df = pd.read_csv("file.csv", header=0)
```

If no header:

```python
df = pd.read_csv("file.csv", header=None)
```

---

## 3Ô∏è‚É£ names Parameter

If file has no column names:

```python
df = pd.read_csv("file.csv", names=["col1","col2","col3"])
```

---

## 4Ô∏è‚É£ index_col Parameter

Set a column as index:

```python
df = pd.read_csv("file.csv", index_col="id")
```

---

## 5Ô∏è‚É£ usecols Parameter

Load only required columns:

```python
df = pd.read_csv("file.csv", usecols=["Name","Age"])
```

---

## 6Ô∏è‚É£ squeeze Parameter (Older versions)

If only one column needed:

```python
df = pd.read_csv("file.csv", usecols=["Name"]).squeeze()
```

---

## 7Ô∏è‚É£ skiprows Parameter

Skip specific rows:

```python
df = pd.read_csv("file.csv", skiprows=[0,2])
```

Skip first N rows:

```python
df = pd.read_csv("file.csv", skiprows=5)
```

---

## 8Ô∏è‚É£ nrows Parameter

Load limited number of rows:

```python
df = pd.read_csv("file.csv", nrows=100)
```

Useful for large datasets.

---

## 9Ô∏è‚É£ encoding Parameter

Fix encoding errors:

```python
df = pd.read_csv("file.csv", encoding="latin1")
```

Default encoding is:
```
utf-8
```

If strange symbols appear ‚Üí change encoding.

---

## üîü on_bad_lines Parameter

Skip corrupted rows:

```python
df = pd.read_csv("file.csv", on_bad_lines="skip")
```

Useful when:
- Some rows have extra columns
- CSV format is broken

---

## 1Ô∏è‚É£1Ô∏è‚É£ dtype Parameter

Force column data type:

```python
df = pd.read_csv("file.csv", dtype={"target": int})
```

Helps:
- Reduce memory usage
- Avoid wrong type detection

---

## 1Ô∏è‚É£2Ô∏è‚É£ parse_dates Parameter

Convert string to datetime:

```python
df = pd.read_csv("file.csv", parse_dates=["date"])
```

Now date column becomes datetime type.

---

### Combining Multiple Columns into Date

```python
df = pd.read_csv("file.csv", parse_dates=[["year","month","day"]])
```

---

## 1Ô∏è‚É£3Ô∏è‚É£ converters Parameter

Apply function to a column while loading:

```python
def short_name(x):
    if x == "Royal Challengers Bangalore":
        return "RCB"
    return x

df = pd.read_csv("file.csv", converters={"team": short_name})
```

---

## 1Ô∏è‚É£4Ô∏è‚É£ na_values Parameter

Define custom missing values:

```python
df = pd.read_csv("file.csv", na_values=["NA","Missing","-"])
```

These values will be treated as NaN.

---

## 1Ô∏è‚É£5Ô∏è‚É£ chunksize Parameter (Very Important for Big Data)

Used when dataset is too large.

```python
df = pd.read_csv("file.csv", chunksize=5000)

for chunk in df:
    print(chunk.shape)
```

Benefits:
- Reduces memory usage
- Handles large datasets
- Process data in parts

---

# üìä Common Problems in CSV Handling

| Problem | Solution |
|----------|----------|
| Wrong separator | Use `sep` |
| No column names | Use `names` |
| Encoding error | Use `encoding` |
| Extra columns in rows | Use `on_bad_lines` |
| Large file | Use `chunksize` |
| Wrong datatype | Use `dtype` |
| Date not working | Use `parse_dates` |

---

# üß† Key Takeaways

- `read_csv()` is a very powerful function.
- Most ML data problems can be solved using its parameters.
- Always check:
  - df.head()
  - df.info()
  - df.shape()

---

# üöÄ Final Conclusion

If you master:
- CSV handling
- JSON handling
- API data fetching
- Web scraping

You can solve 90% of real-world Machine Learning data problems.

---

# üî• Next Topics

- Working with JSON
- Fetching Data from APIs
- Web Scraping
- Handling Large Datasets Efficiently

---

‚≠ê Practice Tip:
Always explore official Pandas documentation for advanced usage.

In [7]:
pd.read_csv(r"C:\Users\chhij\Downloads\titanic.tsv")

,1\t0\t3\tBraund,Mr. Owen Harris\tmale\t22\t1\t0\tA/5 21171\t7.25\t\N\tS
0,2\t1\t1\tCumings,Mrs. John Bradley (Florence Briggs Thayer)\tf...
1,3\t1\t3\tHeikkinen,Miss. Laina\tfemale\t26\t0\t0\tSTON/O2. 31012...
2,4\t1\t1\tFutrelle,Mrs. Jacques Heath (Lily May Peel)\tfemale\t3...
3,5\t0\t3\tAllen,Mr. William Henry\tmale\t35\t0\t0\t373450\t8....
4,6\t0\t3\tMoran,Mr. James\tmale\t\N\t0\t0\t330877\t8.4583\t\N\tQ
...,...,...
885,887\t0\t2\tMontvila,Rev. Juozas\tmale\t27\t0\t0\t211536\t13\t\N\tS
886,888\t1\t1\tGraham,Miss. Margaret Edith\tfemale\t19\t0\t0\t11205...
887,889\t0\t3\tJohnston,"Miss. Catherine Helen ""Carrie""\tfemale\t\N\t1..."
888,890\t1\t1\tBehr,Mr. Karl Howell\tmale\t26\t0\t0\t111369\t30\t...
889,891\t0\t3\tDooley,Mr. Patrick\tmale\t32\t0\t0\t370376\t7.75\t\N\tQ

In [8]:
pd.read_csv(r"C:\Users\chhij\Downloads\titanic.tsv" , sep='\t')

,1,0,3,"Braund, Mr. Owen Harris",male,22,1.1,0.1,A/5 21171,7.25,\N,S
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
1,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,\N,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
3,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,\N,S
4,6,0,3,"Moran, Mr. James",male,\N,0,0,330877,8.4583,\N,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
885,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,\N,S
886,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
887,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,\N,1,2,W./C. 6607,23.4500,\N,S
888,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
889,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,\N,Q

In [9]:
df1 = pd.read_csv(r"C:\Users\chhij\Downloads\titanic.tsv" , sep='\t',names=['PassengerId', 'Survived', 'Pclass', 'Name','Gender', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

- Convert into index

In [10]:
df1.set_index('PassengerId', inplace=True)

In [11]:
df1.head()

,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,\N,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,\N,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,\N,S

- Convert into colmn

In [12]:
pd.read_csv(r"C:\Users\chhij\Downloads\placement.csv",header=1)

     6.89  3.26
0    5.12  1.98
1    7.82  3.25
2    7.42  3.67
3    6.94  3.57
4    7.89  2.99
..    ...   ...
194  6.93  2.46
195  5.89  2.57
196  7.21  3.24
197  7.63  3.96
198  6.22  2.33

[199 rows x 2 columns]

In [13]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv").head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [17]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv",usecols=['Index','Customer Id'])

    Index      Customer Id
0       1  DD37Cf93aecA6Dc
1       2  1Ef7b82A4CAAD10
2       3  6F94879bDAfE5a6
3       4  5Cef8BFA16c5e3c
4       5  053d585Ab6b3159
..    ...              ...
95     96  cb8E23e48d22Eae
96     97  CeD220bdAaCfaDf
97     98  28CDbC0dFe4b1Db
98     99  c23d1D9EE8DEB0A
99    100  2354a0E336A91A1

[100 rows x 2 columns]

- Skip Rows

In [18]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv",skiprows=5).head()

,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
0,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
1,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
2,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
3,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
4,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/

In [19]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv",nrows=5).head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

- Emcoding Parametre

In [21]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv",encoding='latin1').head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/

- Skip bad lines

In [23]:
pd.read_csv(r"C:\Users\chhij\Downloads\customers-100.csv",sep=';',encoding='latin1',keep_default_na=False).head(3)

  Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0  1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Grou...
1  2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,E...
2  3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isab...