| Algorithm           | Recommended Method        |
|--------------------|---------------------------|
| Logistic Regression | Mode / Unknown            |
| Decision Tree       | Unknown / Mode            |
| Random Forest       | Unknown                   |
| XGBoost             | Unknown                   |
| KNN                 | Mode (before encoding)    |

In [1]:
import pandas as pd
import numpy as mp
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv(r'C:\Users\Lenovo\Downloads\train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [16]:
df.sample(10)

     FireplaceQu GarageQual  SalePrice
1             TA         TA     181500
1280         NaN         TA     227000
316           TA         TA     260000
658           Gd         TA      97500
720           TA         TA     275000
1388          Gd         TA     377500
884          NaN         TA     100000
1072          TA         TA      91500
824           Gd         TA     232600
626           TA         TA     139900

In [18]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [19]:
df.describe()

           SalePrice
count    1460.000000
mean   180921.195890
std     79442.502883
min     34900.000000
25%    129975.000000
50%    163000.000000
75%    214000.000000
max    755000.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FireplaceQu  770 non-null    object
 1   GarageQual   1379 non-null   object
 2   SalePrice    1460 non-null   int64
dtypes: int64(1), object(2)
memory usage: 34.3+ KB

In [21]:
df['FireplaceQu'].describe()

count     770
unique      5
top        Gd
freq      380
Name: FireplaceQu, dtype: object

In [22]:
df['GarageQual'].describe()

count     1379
unique       5
top         TA
freq      1311
Name: GarageQual, dtype: object

In [23]:
df['GarageQual'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1460 entries, 0 to 1459
Series name: GarageQual
Non-Null Count  Dtype
--------------  -----
1379 non-null   object
dtypes: object(1)
memory usage: 11.5+ KB

In [25]:
df['GarageQual'].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [26]:
df['GarageQual'].mode()

0    TA
Name: GarageQual, dtype: object

In [27]:
df['GarageQual'].fillna('TA',inplace=True)

In [28]:
df['GarageQual'].isnull().sum()

np.int64(0)

In [29]:
df['FireplaceQu'].mode()

0    Gd
Name: FireplaceQu, dtype: object

In [ ]:
x = df['FireplaceQu'].isnull().sum()
y = df['FireplaceQu'].count()

<>:2: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2672\49485671.py:2: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  y = df['FireplaceQu'['Gd']].count()
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2672\49485671.py:2: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  y = df['FireplaceQu'['Gd']].count()

TypeError: string indices must be integers, not 'str'

In [34]:
x

np.int64(690)

In [37]:
y

np.int64(770)

In [38]:
print(x+y)

1460

In [40]:
df.shape

(1460, 3)

In [43]:
df['FireplaceQu'].fillna('UnKnown',inplace=True)

__By Sklearn__

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['SalePrice']),df['SalePrice'],test_size=0.2)

In [51]:
from sklearn.impute import SimpleImputer

impute = SimpleImputer(strategy='most_frequent')

In [56]:
x_train = impute.fit_transform(x_train)
x_test = impute.transform(x_train)

In [58]:
impute.statistics_

array(['UnKnown', 'TA'], dtype=object)